@import "../../sass/main";

.register-warpper {
    @extend .flexbox;
    @extend .all-center;
    height: 100vh;

    &__content {
        flex: 0 auto;
        padding: 30px;
        min-width: 250px;
        min-height: 250px;
        @extend .flex-column;
        @extend .all-center;
        background-color: $white-color;
        @include border-radius(4px);
        @include box-shadow(0, 0px, 8px, rgba(0, 0, 0, 0.06));
        @include transition (all 0.8s ease-in-out);

        h3 {
            font-size: 18px;
            color: #397ef3;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        &--list {
            margin: 0;
            @extend .flex-column;
            @extend .all-center;
            flex: 1 1 auto;

            li {
                display: block;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0px;
                    @extend .flex-column;
                    @extend .item-center;
                }

                span {
                    display: block;

                    a {
                        color: #b6b6b6;

                        &:hover {
                            color: #397ef3;
                        }
                    }
                }
            }
        }
    }
}