/* 
factweavers.com Reset Stylesheet
v2.0.1
Last Updated: 2018-November
Author: Jagadeeshlal - jagadeeshlal@factweavers.com 
*/

@import './sass/main.scss';

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $white-color inset;
}

button,
input,
textarea {
    @include box-shadow(0, 0, 0, rgba(255, 255, 255, 0));

    &:hover,
    &:visited,
    &:focus,
    &:active {
        @include box-shadow(0, 0, 0, rgba(255, 255, 255, 0));
        outline: 0;
    }
}

img {
    border: 0;
    outline: 0;
    max-width: 100%;
    display: inline-block;
}

a {
    text-decoration: none;

    &:hover,
    &:visited,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

html,
body {
    height: 100% !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    background: $gray-color;
    color: $text-color;
    line-height: 1.428;
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
    display: block;

    .content-body {
        @extend .flexbox;
        @extend .item-stretch;
        min-height: 100vh;

        &__aside {
            flex: 0 auto;
            min-width: 200px;
            background-color: #1a2942;
            @include transition (all 0.2s ease-in-out);
        }

        &__block {
            flex: 1 auto;
            @include transition (all 0.2s ease-in-out);

            &--header {
                flex: 1 1 auto;
            }

            &--body {
                flex: 1 1 auto;
                @extend .flexbox;
                @extend .item-stretch;
                min-height: calc(100vh - 70px);
            }
        }
    }

}